body {
    margin: 30;
    padding-top: 320px;
    font-family: 'Georgia', serif;
    color: #625a56;
    text-align: center;
  }
  
  #nav {
    width: 100%;
    height: 230px;
    padding: 1px 0 1px 0;
    position: absolute;
    top: 0;
  }
  
  #title {
    color: #3f3d34;
    margin: 10;
    font-family: 'Georgia', serif;
    text-transform: uppercase;
    position: center;
  }
  
  img {
    width: 30%;
  }
  
  a {
    color: #3f3d34;
    text-decoration: none;
    text-align: center;
  }
  td {
    color: #3f3d34;
    text-decoration: none;
    text-align: center;
  }
  
  #nav a {
    text-decoration: none;
  }
  
  .nav-align {
    text-align: center;
    padding: 3px 0;
  }
  
  .container {
    padding: 0% 10%;
  }
  
  .button {
    background-color: #746a67;
    padding: 0.3vw 3vw;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    margin-bottom: 2px;
    border-radius: 12px;
  }
  
  .button:hover {
    background-color: #60724b;
    color: #ffffff;
  }
  
  .subscriber {
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
  }
  
  .subscriber p {
    margin: 0;
  }
  
  .list-container {
    padding: 0 20px;
    border: 3px solid #ffb568;
    border-radius: 1px;
  }
  
  .item-label {
    font-weight: 600;
    font-style: italic;
    margin-right: 5px;
  }
  
  .subscription-form input {
    display: block;
    margin: 5px;
  }
  
  .data-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .data-form label {
    margin: 5px 0 0 0;
  }
  
  .hidden-text {
    -webkit-text-security: disc;
  }