  <div class="data-form">
    <form class="form-signin" action="<%=`/movies/${movie._id}/update?_method=PUT`%>" method="POST">
      <h2 class="form-signin-heading">Edit Review:</h2>

      <label for="inputTitle">Title</label><br>
      <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" autofocus><br><br>
 
      <label for="inputDescription">Director</label><br>
      <input type="text" name="director" id="inputDirector" class="form-control" placeholder="Director"><br><br>
 
      <label for="inputRating">Genre</label><br>
      <input type="text" name="genre" id="inputGenre" class="form-control" placeholder="Genre"><br>
 
      <label for="inputDescription">Release Year</label><br>
      <input type="text" name="releaseYear" id="inputReleaseYear" class="form-control" placeholder="Release Year"><br><br>

      <label for="inputDescription">Description</label><br>
      <input type="text" name="description" id="inputDescription" class="form-control" placeholder="Description"><br><br>

      <label for="inputRating">Rating</label><br>
      <input type="text" name="rating" id="inputRating" class="form-control" placeholder="Rating" required><br>

      <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
  </div>
