<div class="data-form">
    <form class="form-signin" action="<%=`/movies/create`%>" method="POST">
      <h2 class="form-signin-heading">Add a new review:</h2>
      <label for="inputTitle">Title</label><br>
      <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" autofocus><br><br>
      <label for="inputDescription">Description</label><br>
      <input type="text" name="description" id="inputDescription" class="form-control" placeholder="Description"><br><br>
      <label for="inputRating">Rating</label><br>
      <input type="text" name="rating" id="inputRating" pattern="\d*" class="form-control" placeholder="Rating" required><br>
      <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
  </div>